@model IEnumerable<ShoppingCart.Models.Author>
    <div class="jumbotron">
        <h2>List of All Authors </h2>
    </div>
        <table class="col-12 table-bordered">
            <thead class="text-center">
                <tr>
                    <th class="col-1" scope="col">#</th>
                    <th class="col-6" scope="col">Name</th>
                    <th class="col-2" scope="col">View Collection</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var author in Model)
                {
                    <tr>
                        <th class="text-center">@author.Id</th>
                        <td class="text-center">@author.FirstName @author.LastName</td>
                        <td class="text-center"><a asp-action="ByAuthor" asp-controller="Book" asp-route-name="@author.FirstName @author.LastName" class="btn btn-primary">View</a></td>
                    </tr>
                }
            </tbody>
        </table>