@model ShoppingCart.ViewModels.BooksByAuthorVM

    <div class="jumbotron">
        <h2 class="text-center">All Books of @Model.AuthorName</h2>
    </div>
<div class="container">
    <div class="row">
        @foreach (var book in Model.Books)
        {
            <div class="col-4 mb-4">
                <div class="card">
                    <img class="card-img-top" style="max-height:25em" src="/img/@book.ImageUrl" alt="bookthumbnail" />
                    <div class="card-body d-flex flex-column h-100">
                        <h4 class="card-title">@book.Title</h4>
                        <p class="card-text">@book.Author</p>
                        <p class="card-text font-weight-bold">CAD$ @book.Price</p>
                        <div class="align-content-center align-items-center">
                            <a asp-action="Details" asp-controller="Book" asp-route-id="@book.Id" class="btn btn-primary text-white">More Details</a>
                            <a asp-action="AddToShoppingCart" asp-controller="ShoppingCart" asp-route-Id="@book.Id" class="btn btn-primary">Buy It</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>