@model IEnumerable<ShoppingCart.Models.Book>

@{
    ViewData["Title"] = "Books";
}

<div class="jumbotron">
    <h2 class="text-center">Grab Your Discounts Now!! Don't Be Late!!</h2>
</div>

    <div class="container">
        <div class="row">
            @foreach (var book in Model)
            {
                <div class="col-4 mb-4">
                    <div class="card">
                        <h4 class="card-header text-center">@book.Title</h4>
                        <div class="card-body d-flex flex-column h-100">
                            <p class="card-text">@book.Author</p>
                            <p class="card-text font-weight-bold">CAD$ @book.Price</p>
                            <div class="align-content-center align-items-center">
                                <a asp-route-id="@book.Id" asp-action="AddToShoppingCart" asp-controller="ShoppingCart" class="btn btn-primary">Buy It</a>
                                <a asp-route-id="@book.Id" asp-action="Details" asp-controller="Book" class="btn btn-primary">More Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>